:root{
    --color1:#ffffff;
    --color2:#555555;
    --color3:#55555560;
    --color4:#08202b;
    --color5:#ff6c45;
    --color6:#014874;
    --color7:#333E48;
    --color8:#9fbac6;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*overflow: hidden;  Hide scrollbars */
}
/* ----------------- Background ----------------- */
div.bckgnd1{
    height: 500px;
    background: url("Banniere-principale-web.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;       
}
div.bckgnd2{
    background: url("Banniere1_web_filtre.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;        
}
div.bckgnd3{
    background: url("Banniere2_web_filtre.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;        
}
/* ----------------- Header ----------------- */
.navbar{
    color:var(--color2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_img{
    width: 175px;
    margin: .5rem;
}
.navbar_link ul{
    margin: 0;
    margin-right: 1rem;
    padding: 0;
    display: flex;
}
.navbar_link li{
    list-style: none;    
}
.navbar_link li a{
    text-decoration: none;
    color: var(--color2);
    padding: .5rem;
    display: block;
    text-align: right;
}
.navbar_link li a:hover{
    color: var(--color5);
}
.button_hamburger{
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 30px;
    height: 27px;
}
.button_hamburger .bar{
    height: 3px;
    width: 100%;
    background-color:var(--color2);
    border-radius: 10px;
}
.titre_header{
    /*background-color: #014874;*/
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}
h1{
    color: var(--color4);                
    font-size: 2rem;
    padding-left: 1.5rem;
}
a.bouton-services{                        
    color: var(--color1); 
    background-color: var(--color5);
    border-radius: 22px;
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
    width: 90%;
    margin-left: 1.5rem;
    text-transform: uppercase;            
    text-decoration: none;
} 
/* ----------------- Section 1 ----------------- */
.section1{
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    color: var(--color7);
    padding: 50px 0px;
}
h2{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color6);
    padding: 0.1rem 1rem;
}
p.txt1{
    text-align: center;
    font-size: 1rem;
    padding: .25rem 1rem;
}
/* ----------------- Section 2 ----------------- */
.section2{
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color6);
    text-align: center;
    padding-bottom: 2rem;  
}
.services{
    display: flex;
    flex-direction: column;
    
}
.services_items{
    font-size: 1.25rem;
    display: flex;
    flex-direction: column
}
.services_items img{
    margin-bottom: 0px;
}
.services_items p{
    margin-top: -20px;
}
/* ----------------- Section 3 ----------------- */
.section3{
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color6);
    text-align: center;
    padding-bottom: 2rem;  
}
.avantages{
    display: flex;
    flex-direction: column;    
}
.avantages_items{
    display: flex;
    flex-direction: column
}
.avantages_items p:last-child{
    font-size: 1.25rem;
    font-weight:normal;
    padding: .5rem 2rem;
}
/* ----------------- Footer ----------------- */
div.footer{
    background-color: var(--color7);
    color: var(--color8);
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}
div.footer p{
    margin-left: 1rem;
    text-transform: capitalize;
    text-decoration: underline;
}
.footer_menu{
    display: flex;
    flex-direction: column;
}
.footer_link ul{    
    display: flex;
    flex-direction: column;
    margin-left: -1.25rem;
    margin-top: -1rem;
}
.footer_link li{
    list-style: none;
    padding-top: 0.25rem;  
}
.footer_link li a{
    text-decoration: none;
    color: var(--color1);
    text-align: left;
}
.footer_link li a:hover{
    color: var(--color5);
}
.footer_coordonne{
    display: flex;
    flex-direction: column;
}
.footer_coordonne a{
    text-decoration: none;
    color: var(--color1);
    margin-left: 1rem;
    padding-top: .5rem;
}

.footer_coordonne a:hover{
    color: var(--color5);
}
a.icons{
    margin-left: 1rem;
    padding-top: 1rem;
    width: 30px;
}
a.icons img{
    height: 30px;
}
.separateur{
    width: 100%;
    height: 1px;
    background-color: var(--color8);
    margin-top: 1rem;
}

/* ----------------- Computer ----------------- */
@media only screen and (min-width: 450px) {
    .navbar_img{width: 300px;}
    .services_items{flex-direction: row;}
    .avantages{
        flex-direction: row;
        justify-content: space-between;
    }
    .avantages_items{
        width: z;
    }
    a.bouton-services{                    
        width: 250px;
    }
    p.txt1{
        padding: 0px 250px;
    }
    /* ----------------- Section 2 ----------------- */
    .services{
        flex-direction: row;
        justify-content: space-between;        
    }
    .services_items{
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        margin: .5rem 5rem;       
    }
       /* ----------------- Section 3 ----------------- */
       .avantages{
        display: flex;
        flex-direction: row;
        justify-content: space-between;   
    }
    .avantages_items p:last-child{
        padding: 0rem 1.5rem;
    }
       /* ----------------- footer ----------------- */
       div.footer{
        flex-direction: row;
        justify-content: space-between;
    }
    .footer_menu{
        padding-left: 3rem;
    }
    .footer_coordonne{
        padding-left: 6rem;
    }
    a.icons{
        padding-top: 1rem;
    }
    div.reference p{
        margin-right: 1rem;
        padding-top: 8rem;
    }
    .separateur{
        display: none;
    }
}
/* ----------------- Mobile ----------------- */
@media only screen and (max-width: 450px) {
    .navbar{align-items: flex-start;}
    .navbar_menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }  
    .button_hamburger{display: flex;}
    .navbar_link{
        margin-top: 3.5rem;
        display: none;        
    }
    .navbar_menu:hover .navbar_link {display: block;}
    .navbar_link ul{flex-direction: column;}
}