
:root{
    --color1:#ffffff;
    --color2:#555555;
    --color3:#55555560;
    --color4:#08202b;
    --color5:#ff6c45;
    --color6:#014874;
    --color7:#333E48;
    --color8:#9fbac6;

}
body{
    margin: 0;
    font-family: "verdana", sans-serif;
    /*font-family: "Tahoma", sans-serif;*/
    /*font-family: "Trebuchet MS", sans-serif;*/
}
img.logo{
    width: 160px;
    position: relative;                
    left: 5%; 
    top: 15px;               
}
/* banniere */
div.cover{
    height: 500px;
    background: url("Banniere-principale-web.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;       
}
div.cover2{
    height: 400px;
    background: url("Banniere2_web_filtre.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;       
}
div.cover3{
    height: 400px;
    background: url("Banniere3_web_filtre.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;       
}
/* banniere */
div.menu {
    width: 30px;
    height: 5px;
    background-color:var(--color2);
    margin: 5px 0;
}
div.header-liens{
    float: right;
    margin-top: 30px;
    margin-right: 25px;
} 
a.bouton-contact{                           
    color: var(--color2); 
    /*border: solid 1px var(--color2);
    border-radius: 0px;*/
    padding: 5px 10px;        
    text-decoration: none;
    display: inline-block;
} 
a.bouton-contact:hover{
    color: var(--color1);
    /*background-color: var(--color3);
    border: solid 1px var(--color1); */           
}
h1{
    color: var(--color4);                
    font-size: 32px;
    text-align: left;
    margin: 200px 15px 35px 15px;
}
a.bouton-services{                        
    color: var(--color1); 
    background-color: var(--color5);
    border-radius: 22px;
    padding: 10px 20px;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 55px;
    text-transform: uppercase;            
    text-decoration: none;
} 

h2{
    text-align: center;
    font-size: 22px;
    color: var(--color6);
}
p.txt1{
    text-align: center;
    font-size: 19px;
    color: var(--color7);
}
/* footer*/
div.footer{
    height: 400px;
    background-color: var(--color7);
}
div.footer p{
    font-size: 19px;
    text-align: left;
    margin-left: 15px;
    text-transform: capitalize;
    color: var(--color8);
}
.separateur{
    width: 250px;
    height: 1px;
    background-color: var(--color8);
    margin-left: 15px;
    margin-right: auto;
}

/* ecran ordinateur */
@media only screen and (max-width: 450px) {
    div.header-liens{
        display: none;
    }
} 
@media only screen and (min-width: 450px) {
    .dropbtn{
        display: none;
    }
} 
/* menu deroulant*/
.dropbtn {   
    padding: 0px 2.5px;
    border: none;
    background-color:#efefef00;
  }  
  .dropdown {
    float: right;
    position: relative;
    display: inline-block;
    margin-top: 25px;
    margin-right: 20px;
  }  
  .dropdown-content {    
    display: none;
    position: absolute;
  }  
  .dropdown-content a {
    color: var(--color2); 
    /*border: solid 1px var(--color2);
    border-radius: 0px;*/
    padding: 5px 10px;            
    text-decoration: none;
    margin-top: 5px;
    text-align: right;
  }  
  .dropdown-content a:hover {}
  
  .dropdown:hover .dropdown-content {display: block;margin-left: -80px;text-align: right;}
  
  .dropdown:hover .dropbtn {}
  /* menu deroulant*/