:root{
    --color1:#FFFFFF;
    --color2:#EFEFEF;
    --color3:#F54C01;
    --color4:#D1D3D3;
    --color5:#9FBAC6;
    --color6:#014876;
    --color7:#333E48;
    --color8:#08202A;
}
*{margin: 0;padding: 0;}
body{
    font-family: monospace;
    font-size: 1rem;
    color: var(--color8);
}
h1{font-size: 2rem;}
h2{font-size: 1.5rem;}
/*----------------------------  generale ----------------------------*/
.sujets_page {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;      
}
/*----------------------------  Intro DEBUT ----------------------------*/
.intro{
    height: 100vh;
    background: url("Banniere_intro.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*----------------------------  burger ----------------------------*/
.burger {
    display: inline-block;
    cursor: pointer;
    margin-right: .5rem;
    margin-top: .25rem;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--color7);
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 10px;
}
.change .bar1 {transform: translate(0, 11px) rotate(-45deg);background-color: var(--color3);}    
.change .bar2 {opacity: 0;}    
.change .bar3 {transform: translate(0, -11px) rotate(45deg);background-color: var(--color3);}
/*----------------------------  TopNav ----------------------------*/
.topnav{
    display: flex;
    justify-content: space-between;
}
.logo_entete{
    height: 60px;
    margin: 1rem;
}
.entete{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    margin-top: 3rem;
    margin-right: 1rem;
}
/*----------------------------  Dropdown menu ----------------------------*/

.dropdown_menu {
    display: flex;
    flex-direction: column;
    opacity: 0;
    margin-top: 2rem;
}
.dropdown_menu a{ 
    text-align: right;   
    text-decoration: none;
    padding: .5rem 0;
    color:var(--color7);
}
.dropdown_menu a:hover{color:var(--color8);}
.show {opacity: 100;}

.texte_intro{
    display: flex;
    flex-direction: column;
    vertical-align: bottom;
}
.texte_intro h1{padding: 1.5rem;}
.texte_intro p{
    color: var(--color7);                
    font-size: 1.2rem;
    padding: 1.5rem;
}
.lien{
    width: auto;
    padding: 1.5rem;
}
a.bouton-services{                        
    color: var(--color1); 
    background-color: var(--color3);
    border-radius: 22px;
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
    width: 90%;
    text-transform: uppercase;            
    text-decoration: none;
}
/*----------------------------  Computer Intro----------------------------*/
@media only screen and (min-width: 450px){
    .topnav{margin-bottom: 200px;}
    .burger{opacity: 0;}
    .entete{flex-direction: row;
        align-items: center;
        margin-top: 0;
    }
    .dropdown_menu {
        flex-direction: row;
        justify-content: space-between; 
        padding-right: 3rem;
        width: 90%;
        opacity: 100;
    }
    .logo_entete{
        height: 100px;
        margin: .75rem;
    }
    .texte_intro{
        margin: 110px;
    }
}
/*----------------------------  Intro FIN ----------------------------*/
.section{
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}
.niv{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*----------------------------  transition_1 debut ----------------------------*/
.transition_1{
    height: 50vh;
    background-color:var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.transition_1 h2{
    text-align: center;
}
.transition_1 p{
    text-align: center;
    margin: 1.25rem .5rem;
}
/*----------------------------  transition_1 fin ----------------------------*/
/*----------------------------  section_1 debut ----------------------------*/
.niv1{
    position: absolute;
    inset: 0;
    background: url("Banniere1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mid_niv1{
    /*scale calculation: 1+((Z transform value * -1)/ perspective)*/
    transform: translateZ(0px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mid_niv1 p{
    text-align: center;
    margin: 1.25rem .5rem;
}


/*----------------------------  section_1 fin ----------------------------*/
/*----------------------------  Outro ----------------------------*/
.outro{
    height: 100vh;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
}
.transition{
    height: 75vh;
    background-color:darkgoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}
.niv{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.base_niv{
    /*scale calculation: 1+((Z transform value * -1)/ perspective)*/
    transform: translateZ(-300px) scale(2);
}
.mid_niv{
    /*scale calculation: 1+((Z transform value * -1)/ perspective)*/
    transform: translateZ(0px);
}
.top_niv{
    transform: translateZ(210px) scale(0.3);
}

#intro{
    z-index: 0;
}
#section_1{
    z-index: -1;
}
#section_1 > .base_niv{
    background-color: var(--color5);
}
#trans{
    z-index: 0;
}
#section_2{
    z-index:-2;
}
#group-2 > .base_niv{
    background-color: yellowgreen;
}
#outro{
    z-index: -3;
}
